.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.navbar h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar h1 span {
  color: var(--theme-green);
  margin-right: 5px;
}
