@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #4f46e5;
  --text-color: #494949;
  --theme-green: #00cc61;
  --light-green: #5cffab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.heading {
  text-align: center;
}
