.marquee-sub-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.marquee-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 7rem;
  width: 90%;
  max-width: 1536px;
}

.marquee-header h2 {
  font-size: 1.5rem;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--theme-green, black) 20%,
    var(--theme-green, black) 80%,
    transparent
  );
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 30px;
  animation: scrollLeft 20s linear infinite;
  will-change: transform;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.item {
  flex: 0 0 120px;
}
