.pricing-section {
  padding: 1.25rem 2rem;
  min-height: 150vh;
  background-color: #f3fdf7;
}

.pricing-content {
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
  margin-top: 7rem;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 2rem;
}

.pricing-card {
  text-align: start;
  background: white;
  padding: 20px 30px 40px;
  border: 1px solid #a3a2a3;
  border-radius: 20px;
  box-shadow: #efecf480 0px opx 10px 5px;
  transition: all 0.3s ease-in-out;
}

hr {
  border: none;
  height: 1px;
  background: #a3a2a3;
}
.pricing-card.standard-plan {
  background: #8affc2;
  border: 2px solid var(--theme-green);
  position: relative;
}

.pricing-card.standard-plan::before {
  content: "Most Popular";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--theme-green);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.pricing-card:hover {
  background: hsl(149, 100%, 77%);
}

.pricing-card:hover .item-perk {
  color: #0a0a10;
}

.pricing-label h1 {
  font-size: 2.375rem;
  color: #0a0a10;
  margin-bottom: 1.125rem;
}

.pricing-label p {
  font-size: 1.125rem;
  color: #6c6c6c;
  margin-bottom: 1.125rem;
}

.price {
  color: #0a0a10;
  font-size: 38px;
  font-weight: 500;
}

.price-value-section {
  margin-top: 1.125rem;
  margin-bottom: 0.75rem;
}

.per-month {
  color: #a3a2a3;
  font-size: 18px;
}

.perk-micro-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 0;
}

.item-perk {
  color: #6c6c6c;
  font-size: 1.125rem;
  transition: color 0.3s ease-in-out;
}

.purchase-btn {
  width: 100%;
  font-family: "Outfit", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
  background: white;
  border: 1px solid black;
  padding: 12px 0;
  color: #0a0a10;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.purchase-btn:hover {
  background: #0a0a10;
  color: white;
}
